In [98]:
from pandas import read_html
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math 
#import proparty as prop

In [6]:
# read the data from file 
CR = pd.read_csv("C:/Users/tasmem/Desktop/data.csv") # CR : the name of the read data 
print(CR)   # print the data

    checking_balance  months_loan_duration          credit_history  \
0             < 0 DM                     6                critical
1         1 - 200 DM                    48                  repaid
2            unknown                    12                critical
3             < 0 DM                    42                  repaid
4             < 0 DM                    24                 delayed
5            unknown                    36                  repaid
6            unknown                    24                  repaid
7         1 - 200 DM                    36                  repaid
8            unknown                    12                  repaid
9         1 - 200 DM                    30                critical
10        1 - 200 DM                    12                  repaid
11            < 0 DM                    48                  repaid
12        1 - 200 DM                    12                  repaid
13            < 0 DM                    24                critical
14            < 0 DM                    15                  repaid
15            < 0 DM                    24                  repaid
16           unknown                    24                critical
17            < 0 DM                    30            fully repaid
18        1 - 200 DM                    24                  repaid
19           unknown                    24                  repaid
20           unknown                     9                critical
21            < 0 DM                     6                  repaid
22            < 0 DM                    10                critical
23        1 - 200 DM                    12                critical
24           unknown                    10                critical
25            < 0 DM                     6                  repaid
26           unknown                     6            fully repaid
27          > 200 DM                    12  fully repaid this bank
28        1 - 200 DM                     7                  repaid
29            < 0 DM                    60                 delayed
..               ...                   ...                     ...
970       1 - 200 DM                    15                  repaid
971          unknown                    24                  repaid
972           < 0 DM                    24  fully repaid this bank
973           < 0 DM                    60                  repaid
974          unknown                    30                critical
975         > 200 DM                    24                  repaid
976       1 - 200 DM                     6                  repaid
977       1 - 200 DM                    18                 delayed
978          unknown                    24                 delayed
979       1 - 200 DM                    15  fully repaid this bank
980       1 - 200 DM                    30                critical
981          unknown                    48                  repaid
982         > 200 DM                    21                  repaid
983           < 0 DM                    36                  repaid
984          unknown                    24                critical
985           < 0 DM                    15                critical
986         > 200 DM                    42            fully repaid
987          unknown                    13                  repaid
988           < 0 DM                    24                  repaid
989       1 - 200 DM                    24                critical
990          unknown                    12                critical
991          unknown                    15  fully repaid this bank
992           < 0 DM                    18                  repaid
993           < 0 DM                    36                  repaid
994          unknown                    12                  repaid
995          unknown                    12                  repaid
996           < 0 DM                    30                  repaid
997          unknown                    12                  repaid
998           < 0 DM                    45                  repaid
999       1 - 200 DM                    45                critical

        purpose  amount savings_balance employment_length  installment_rate  \
0      radio/tv    1169         unknown           > 7 yrs                 4
1      radio/tv    5951        < 100 DM         1 - 4 yrs                 2
2     education    2096        < 100 DM         4 - 7 yrs                 2
3     furniture    7882        < 100 DM         4 - 7 yrs                 2
4     car (new)    4870        < 100 DM         1 - 4 yrs                 3
5     education    9055         unknown         1 - 4 yrs                 2
6     furniture    2835   501 - 1000 DM           > 7 yrs                 3
7    car (used)    6948        < 100 DM         1 - 4 yrs                 2
8      radio/tv    3059       > 1000 DM         4 - 7 yrs                 2
9     car (new)    5234        < 100 DM        unemployed                 4
10    car (new)    1295        < 100 DM         0 - 1 yrs                 3
11     business    4308        < 100 DM         0 - 1 yrs                 3
12     radio/tv    1567        < 100 DM         1 - 4 yrs                 1
13    car (new)    1199        < 100 DM           > 7 yrs                 4
14    car (new)    1403        < 100 DM         1 - 4 yrs                 2
15     radio/tv    1282    101 - 500 DM         1 - 4 yrs                 4
16     radio/tv    2424         unknown           > 7 yrs                 4
17     business    8072         unknown         0 - 1 yrs                 2
18   car (used)   12579        < 100 DM           > 7 yrs                 4
19     radio/tv    3430   501 - 1000 DM           > 7 yrs                 3
20    car (new)    2134        < 100 DM         1 - 4 yrs                 4
21     radio/tv    2647   501 - 1000 DM         1 - 4 yrs                 2
22    car (new)    2241        < 100 DM         0 - 1 yrs                 1
23   car (used)    1804    101 - 500 DM         0 - 1 yrs                 3
24    furniture    2069         unknown         1 - 4 yrs                 2
25    furniture    1374        < 100 DM         1 - 4 yrs                 1
26     radio/tv     426        < 100 DM           > 7 yrs                 4
27     radio/tv     409       > 1000 DM         1 - 4 yrs                 3
28     radio/tv    2415        < 100 DM         1 - 4 yrs                 3
29     business    6836        < 100 DM           > 7 yrs                 3
..          ...     ...             ...               ...               ...
970     repairs    1514    101 - 500 DM         1 - 4 yrs                 4
971   car (new)    7393        < 100 DM         1 - 4 yrs                 1
972   car (new)    1193        < 100 DM        unemployed                 1
973    business    7297        < 100 DM           > 7 yrs                 4
974    radio/tv    2831        < 100 DM         1 - 4 yrs                 4
975    radio/tv    1258   501 - 1000 DM         1 - 4 yrs                 3
976    radio/tv     753        < 100 DM         1 - 4 yrs                 2
977    business    2427         unknown           > 7 yrs                 4
978   car (new)    2538        < 100 DM           > 7 yrs                 4
979   car (new)    1264    101 - 500 DM         1 - 4 yrs                 2
980   furniture    8386        < 100 DM         4 - 7 yrs                 2
981    business    4844        < 100 DM        unemployed                 3
982   car (new)    2923    101 - 500 DM         1 - 4 yrs                 1
983  car (used)    8229        < 100 DM         1 - 4 yrs                 2
984   furniture    2028        < 100 DM         4 - 7 yrs                 2
985   furniture    1433        < 100 DM         1 - 4 yrs                 4
986    business    6289        < 100 DM         0 - 1 yrs                 2
987    radio/tv    1409    101 - 500 DM        unemployed                 2
988  car (used)    6579        < 100 DM        unemployed                 4
989    radio/tv    1743        < 100 DM           > 7 yrs                 4
990   education    3565         unknown         0 - 1 yrs                 2
991    radio/tv    1569    101 - 500 DM           > 7 yrs                 4
992    radio/tv    1936         unknown         4 - 7 yrs                 2
993   furniture    3959        < 100 DM        unemployed                 4
994   car (new)    2390         unknown           > 7 yrs                 4
995   furniture    1736        < 100 DM         4 - 7 yrs                 3
996  car (used)    3857        < 100 DM         1 - 4 yrs                 4
997    radio/tv     804        < 100 DM           > 7 yrs                 4
998    radio/tv    1845        < 100 DM         1 - 4 yrs                 4
999  car (used)    4576    101 - 500 DM        unemployed                 3

    personal_status other_debtors           ...             \
0       single male          none           ...
1            female          none           ...
2       single male          none           ...
3       single male     guarantor           ...
4       single male          none           ...
5       single male          none           ...
6       single male          none           ...
7       single male          none           ...
8     divorced male          none           ...
9      married male          none           ...
10           female          none           ...
11           female          none           ...
12           female          none           ...
13      single male          none           ...
14           female          none           ...
15           female          none           ...
16      single male          none           ...
17      single male          none           ...
18           female          none           ...
19      single male          none           ...
20      single male          none           ...
21      single male          none           ...
22      single male          none           ...
23      single male          none           ...
24     married male          none           ...
25      single male          none           ...
26     married male          none           ...
27           female          none           ...
28      single male     guarantor           ...
29      single male          none           ...
..              ...           ...           ...
970     single male     guarantor           ...
971     single male          none           ...
972          female  co-applicant           ...
973     single male  co-applicant           ...
974          female          none           ...
975          female          none           ...
976          female     guarantor           ...
977     single male          none           ...
978     single male          none           ...
979    married male          none           ...
980     single male          none           ...
981     single male          none           ...
982          female          none           ...
983     single male          none           ...
984     single male          none           ...
985          female          none           ...
986   divorced male          none           ...
987          female          none           ...
988     single male          none           ...
989     single male          none           ...
990     single male          none           ...
991     single male          none           ...
992    married male          none           ...
993     single male          none           ...
994     single male          none           ...
995          female          none           ...
996   divorced male          none           ...
997     single male          none           ...
998     single male          none           ...
999     single male          none           ...

                     property age  installment_plan   housing  \
0                 real estate  67              none       own
1                 real estate  22              none       own
2                 real estate  49              none       own
3    building society savings  45              none  for free
4                unknown/none  53              none  for free
5                unknown/none  35              none  for free
6    building society savings  53              none       own
7                       other  35              none      rent
8                 real estate  61              none       own
9                       other  28              none       own
10                      other  25              none      rent
11   building society savings  24              none      rent
12                      other  22              none       own
13                      other  60              none       own
14                      other  28              none      rent
15                      other  32              none       own
16   building society savings  53              none       own
17                      other  25              bank       own
18               unknown/none  44              none  for free
19                      other  31              none       own
20                      other  48              none       own
21                real estate  44              none      rent
22                real estate  48              none      rent
23   building society savings  44              none       own
24                      other  26              none       own
25                real estate  36              bank       own
26                      other  39              none       own
27                real estate  42              none      rent
28                real estate  34              none       own
29               unknown/none  63              none       own
..                        ...  ..               ...       ...
970               real estate  22              none       own
971  building society savings  43              none       own
972              unknown/none  29              none      rent
973              unknown/none  36              none      rent
974                     other  33              none       own
975                     other  57              none       own
976               real estate  64              none       own
977  building society savings  42              none       own
978                     other  47              none       own
979  building society savings  25              none      rent
980  building society savings  49              none       own
981                     other  33              bank      rent
982                     other  28              bank       own
983  building society savings  26              none       own
984  building society savings  30              none       own
985  building society savings  25              none      rent
986  building society savings  33              none       own
987               real estate  64              none       own
988              unknown/none  29              none  for free
989  building society savings  48              none       own
990  building society savings  37              none       own
991                     other  34              bank       own
992                     other  23              none      rent
993  building society savings  30              none       own
994                     other  50              none       own
995               real estate  31              none       own
996  building society savings  40              none       own
997                     other  38              none       own
998              unknown/none  23              none  for free
999                     other  27              none       own

    existing_credits  default  dependents  telephone foreign_worker  \
0                  2        1           1        yes            yes
1                  1        2           1       none            yes
2                  1        1           2       none            yes
3                  1        1           2       none            yes
4                  2        2           2       none            yes
5                  1        1           2        yes            yes
6                  1        1           1       none            yes
7                  1        1           1        yes            yes
8                  1        1           1       none            yes
9                  2        2           1       none            yes
10                 1        2           1       none            yes
11                 1        2           1       none            yes
12                 1        1           1        yes            yes
13                 2        2           1       none            yes
14                 1        1           1       none            yes
15                 1        2           1       none            yes
16                 2        1           1       none            yes
17                 3        1           1       none            yes
18                 1        2           1        yes            yes
19                 1        1           2        yes            yes
20                 3        1           1        yes            yes
21                 1        1           2       none            yes
22                 2        1           2       none             no
23                 1        1           1       none            yes
24                 2        1           1       none             no
25                 1        1           1        yes            yes
26                 1        1           1       none            yes
27                 2        1           1       none            yes
28                 1        1           1       none            yes
29                 2        2           1        yes            yes
..               ...      ...         ...        ...            ...
970                1        1           1       none            yes
971                1        1           2       none            yes
972                2        2           1       none            yes
973                1        2           1       none            yes
974                1        1           1        yes            yes
975                1        1           1       none            yes
976                1        1           1       none            yes
977                2        1           1       none            yes
978                2        2           2       none            yes
979                1        2           1       none            yes
980                1        2           1       none            yes
981                1        2           1        yes            yes
982                1        1           1        yes            yes
983                1        2           2       none            yes
984                2        1           1       none            yes
985                2        1           1       none            yes
986                2        1           1       none            yes
987                1        1           1       none            yes
988                1        1           1        yes            yes
989                2        1           1       none            yes
990                2        1           2       none            yes
991                1        1           2       none            yes
992                2        1           1       none            yes
993                1        1           1        yes            yes
994                1        1           1        yes            yes
995                1        1           1       none            yes
996                1        1           1        yes            yes
997                1        1           1       none            yes
998                1        2           1        yes            yes
999                1        1           1       none            yes

                         job
0           skilled employee

In [36]:
str (CR)

'    checking_balance  months_loan_duration          credit_history  \\\n0             < 0 DM                     6                critical   \n1         1 - 200 DM                    48                  repaid   \n2            unknown                    12                critical   \n3             < 0 DM                    42                  repaid   \n4             < 0 DM                    24                 delayed   \n5            unknown                    36                  repaid   \n6            unknown                    24                  repaid   \n7         1 - 200 DM                    36                  repaid   \n8            unknown                    12                  repaid   \n9         1 - 200 DM                    30                critical   \n10        1 - 200 DM                    12                  repaid   \n11            < 0 DM                    48                  repaid   \n12        1 - 200 DM                    12                  repaid   \n13            < 0 DM                    24                critical   \n14            < 0 DM                    15                  repaid   \n15            < 0 DM                    24                  repaid   \n16           unknown                    24                critical   \n17            < 0 DM                    30            fully repaid   \n18        1 - 200 DM                    24                  repaid   \n19           unknown                    24                  repaid   \n20           unknown                     9                critical   \n21            < 0 DM                     6                  repaid   \n22            < 0 DM                    10                critical   \n23        1 - 200 DM                    12                critical   \n24           unknown                    10                critical   \n25            < 0 DM                     6                  repaid   \n26           unknown                     6            fully repaid   \n27          > 200 DM                    12  fully repaid this bank   \n28        1 - 200 DM                     7                  repaid   \n29            < 0 DM                    60                 delayed   \n..               ...                   ...                     ...   \n970       1 - 200 DM                    15                  repaid   \n971          unknown                    24                  repaid   \n972           < 0 DM                    24  fully repaid this bank   \n973           < 0 DM                    60                  repaid   \n974          unknown                    30                critical   \n975         > 200 DM                    24                  repaid   \n976       1 - 200 DM                     6                  repaid   \n977       1 - 200 DM                    18                 delayed   \n978          unknown                    24                 delayed   \n979       1 - 200 DM                    15  fully repaid this bank   \n980       1 - 200 DM                    30                critical   \n981          unknown                    48                  repaid   \n982         > 200 DM                    21                  repaid   \n983           < 0 DM                    36                  repaid   \n984          unknown                    24                critical   \n985           < 0 DM                    15                critical   \n986         > 200 DM                    42            fully repaid   \n987          unknown                    13                  repaid   \n988           < 0 DM                    24                  repaid   \n989       1 - 200 DM                    24                critical   \n990          unknown                    12                critical   \n991          unknown                    15  fully repaid this bank   \n992           < 0 DM                    18                  repaid   \n993           < 0 DM                    36                  repaid   \n994          unknown                    12                  repaid   \n995          unknown                    12                  repaid   \n996           < 0 DM                    30                  repaid   \n997          unknown                    12                  repaid   \n998           < 0 DM                    45                  repaid   \n999       1 - 200 DM                    45                critical   \n\n        purpose  amount savings_balance employment_length  installment_rate  \\\n0      radio/tv    1169         unknown           > 7 yrs                 4   \n1      radio/tv    5951        < 100 DM         1 - 4 yrs                 2   \n2     education    2096        < 100 DM         4 - 7 yrs                 2   \n3     furniture    7882        < 100 DM         4 - 7 yrs                 2   \n4     car (new)    4870        < 100 DM         1 - 4 yrs                 3   \n5     education    9055         unknown         1 - 4 yrs                 2   \n6     furniture    2835   501 - 1000 DM           > 7 yrs                 3   \n7    car (used)    6948        < 100 DM         1 - 4 yrs                 2   \n8      radio/tv    3059       > 1000 DM         4 - 7 yrs                 2   \n9     car (new)    5234        < 100 DM        unemployed                 4   \n10    car (new)    1295        < 100 DM         0 - 1 yrs                 3   \n11     business    4308        < 100 DM         0 - 1 yrs                 3   \n12     radio/tv    1567        < 100 DM         1 - 4 yrs                 1   \n13    car (new)    1199        < 100 DM           > 7 yrs                 4   \n14    car (new)    1403        < 100 DM         1 - 4 yrs                 2   \n15     radio/tv    1282    101 - 500 DM         1 - 4 yrs                 4   \n16     radio/tv    2424         unknown           > 7 yrs                 4   \n17     business    8072         unknown         0 - 1 yrs                 2   \n18   car (used)   12579        < 100 DM           > 7 yrs                 4   \n19     radio/tv    3430   501 - 1000 DM           > 7 yrs                 3   \n20    car (new)    2134        < 100 DM         1 - 4 yrs                 4   \n21     radio/tv    2647   501 - 1000 DM         1 - 4 yrs                 2   \n22    car (new)    2241        < 100 DM         0 - 1 yrs                 1   \n23   car (used)    1804    101 - 500 DM         0 - 1 yrs                 3   \n24    furniture    2069         unknown         1 - 4 yrs                 2   \n25    furniture    1374        < 100 DM         1 - 4 yrs                 1   \n26     radio/tv     426        < 100 DM           > 7 yrs                 4   \n27     radio/tv     409       > 1000 DM         1 - 4 yrs                 3   \n28     radio/tv    2415        < 100 DM         1 - 4 yrs                 3   \n29     business    6836        < 100 DM           > 7 yrs                 3   \n..          ...     ...             ...               ...               ...   \n970     repairs    1514    101 - 500 DM         1 - 4 yrs                 4   \n971   car (new)    7393        < 100 DM         1 - 4 yrs                 1   \n972   car (new)    1193        < 100 DM        unemployed                 1   \n973    business    7297        < 100 DM           > 7 yrs                 4   \n974    radio/tv    2831        < 100 DM         1 - 4 yrs                 4   \n975    radio/tv    1258   501 - 1000 DM         1 - 4 yrs                 3   \n976    radio/tv     753        < 100 DM         1 - 4 yrs                 2   \n977    business    2427         unknown           > 7 yrs                 4   \n978   car (new)    2538        < 100 DM           > 7 yrs                 4   \n979   car (new)    1264    101 - 500 DM         1 - 4 yrs                 2   \n980   furniture    8386        < 100 DM         4 - 7 yrs                 2   \n981    business    4844        < 100 DM        unemployed                 3   \n982   car (new)    2923    101 - 500 DM         1 - 4 yrs                 1   \n983  car (used)    8229        < 100 DM         1 - 4 yrs                 2   \n984   furniture    2028        < 100 DM         4 - 7 yrs                 2   \n985   furniture    1433        < 100 DM         1 - 4 yrs                 4   \n986    business    6289        < 100 DM         0 - 1 yrs                 2   \n987    radio/tv    1409    101 - 500 DM        unemployed                 2   \n988  car (used)    6579        < 100 DM        unemployed                 4   \n989    radio/tv    1743        < 100 DM           > 7 yrs                 4   \n990   education    3565         unknown         0 - 1 yrs                 2   \n991    radio/tv    1569    101 - 500 DM           > 7 yrs                 4   \n992    radio/tv    1936         unknown         4 - 7 yrs                 2   \n993   furniture    3959        < 100 DM        unemployed                 4   \n994   car (new)    2390         unknown           > 7 yrs                 4   \n995   furniture    1736        < 100 DM         4 - 7 yrs                 3   \n996  car (used)    3857        < 100 DM         1 - 4 yrs                 4   \n997    radio/tv     804        < 100 DM           > 7 yrs                 4   \n998    radio/tv    1845        < 100 DM         1 - 4 yrs                 4   \n999  car (used)    4576    101 - 500 DM        unemployed                 3   \n\n    personal_status other_debtors           ...             \\\n0       single male          none           ...              \n1            female          none           ...              \n2       single male          none           ...              \n3       single male     guarantor           ...              \n4       single male          none           ...              \n5       single male          none           ...              \n6       single male          none           ...              \n7       single male          none           ...              \n8     divorced male          none           ...              \n9      married male          none           ...              \n10           female          none           ...              \n11           female          none           ...              \n12           female          none           ...              \n13      single male          none           ...              \n14           female          none           ...              \n15           female          none           ...              \n16      single male          none           ...              \n17      single male          none           ...              \n18           female          none           ...              \n19      single male          none           ...              \n20      single male          none           ...              \n21      single male          none           ...              \n22      single male          none           ...              \n23      single male          none           ...              \n24     married male          none           ...              \n25      single male          none           ...              \n26     married male          none           ...              \n27           female          none           ...              \n28      single male     guarantor           ...              \n29      single male          none           ...              \n..              ...           ...           ...              \n970     single male     guarantor           ...              \n971     single male          none           ...              \n972          female  co-applicant           ...              \n973     single male  co-applicant           ...              \n974          female          none           ...              \n975          female          none           ...              \n976          female     guarantor           ...              \n977     single male          none           ...              \n978     single male          none           ...              \n979    married male          none           ...              \n980     single male          none           ...              \n981     single male          none           ...              \n982          female          none           ...              \n983     single male          none           ...              \n984     single male          none           ...              \n985          female          none           ...              \n986   divorced male          none           ...              \n987          female          none           ...              \n988     single male          none           ...              \n989     single male          none           ...              \n990     single male          none           ...              \n991     single male          none           ...              \n992    married male          none           ...              \n993     single male          none           ...              \n994     single male          none           ...              \n995          female          none           ...              \n996   divorced male          none           ...              \n997     single male          none           ...              \n998     single male          none           ...              \n999     single male          none           ...              \n\n                     property age  installment_plan   housing  \\\n0                 real estate  67              none       own   \n1                 real estate  22              none       own   \n2                 real estate  49              none       own   \n3    building society savings  45              none  for free   \n4                unknown/none  53              none  for free   \n5                unknown/none  35              none  for free   \n6    building society savings  53              none       own   \n7                       other  35              none      rent   \n8                 real estate  61              none       own   \n9                       other  28              none       own   \n10                      other  25              none      rent   \n11   building society savings  24              none      rent   \n12                      other  22              none       own   \n13                      other  60              none       own   \n14                      other  28              none      rent   \n15                      other  32              none       own   \n16   building society savings  53              none       own   \n17                      other  25              bank       own   \n18               unknown/none  44              none  for free   \n19                      other  31              none       own   \n20                      other  48              none       own   \n21                real estate  44              none      rent   \n22                real estate  48              none      rent   \n23   building society savings  44              none       own   \n24                      other  26              none       own   \n25                real estate  36              bank       own   \n26                      other  39              none       own   \n27                real estate  42              none      rent   \n28                real estate  34              none       own   \n29               unknown/none  63              none       own   \n..                        ...  ..               ...       ...   \n970               real estate  22              none       own   \n971  building society savings  43              none       own   \n972              unknown/none  29              none      rent   \n973              unknown/none  36              none      rent   \n974                     other  33              none       own   \n975                     other  57              none       own   \n976               real estate  64              none       own   \n977  building society savings  42              none       own   \n978                     other  47              none       own   \n979  building society savings  25              none      rent   \n980  building society savings  49              none       own   \n981                     other  33              bank      rent   \n982                     other  28              bank       own   \n983  building society savings  26              none       own   \n984  building society savings  30              none       own   \n985  building society savings  25              none      rent   \n986  building society savings  33              none       own   \n987               real estate  64              none       own   \n988              unknown/none  29              none  for free   \n989  building society savings  48              none       own   \n990  building society savings  37              none       own   \n991                     other  34              bank       own   \n992                     other  23              none      rent   \n993  building society savings  30              none       own   \n994                     other  50              none       own   \n995               real estate  31              none       own   \n996  building society savings  40              none       own   \n997                     other  38              none       own   \n998              unknown/none  23              none  for free   \n999                     other  27              none       own   \n\n    existing_credits  default  dependents  telephone foreign_worker  \\\n0                  2        1           1        yes            yes   \n1                  1        2           1       none            yes   \n2                  1        1           2       none            yes   \n3                  1        1           2       none            yes   \n4                  2        2           2       none            yes   \n5                  1        1           2        yes            yes   \n6                  1        1           1       none            yes   \n7                  1        1           1        yes            yes   \n8                  1        1           1       none            yes   \n9                  2        2           1       none            yes   \n10                 1        2           1       none            yes   \n11                 1        2           1       none            yes   \n12                 1        1           1        yes            yes   \n13                 2        2           1       none            yes   \n14                 1        1           1       none            yes   \n15                 1        2           1       none            yes   \n16                 2        1           1       none            yes   \n17                 3        1           1       none            yes   \n18                 1        2           1        yes            yes   \n19                 1        1           2        yes            yes   \n20                 3        1           1        yes            yes   \n21                 1        1           2       none            yes   \n22                 2        1           2       none             no   \n23                 1        1           1       none            yes   \n24                 2        1           1       none             no   \n25                 1        1           1        yes            yes   \n26                 1        1           1       none            yes   \n27                 2        1           1       none            yes   \n28                 1        1           1       none            yes   \n29                 2        2           1        yes            yes   \n..               ...      ...         ...        ...            ...   \n970                1        1           1       none            yes   \n971                1        1           2       none            yes   \n972                2        2           1       none            yes   \n973                1        2           1       none            yes   \n974                1        1     

In [91]:
# from the data we have [1000 rows x 21 columns] that means we have 1000 loans saprated in 21 variable (attribute) .
# so if we went to indicating whether the loans went into default or not ( defult means that the peroson who take the
# loans has repayment in the right time or not)
#def table ()
def table (CR,default)
round( prop.table(table(CR,default))*100) 

# 1 means that is no , 2 means that is yes
(CR,default) = factor((CR,default), levels=c(1, 2), labels=c("No", "Yes"))

SyntaxError: invalid syntax (<ipython-input-91-2fbabeb76c4d>, line 5)

In [92]:
#if we went to cheak the balance as a predicat default
def table (CR,checking_balance)
round(table(CR,checking_balance))

#the output must tell me about the numbers of the balance under it type 
# the type that i have is 4 type which is (  0 DM,> 200 DM ,1 - 200 DM ,unknown)the output is the number of each one of them

SyntaxError: invalid syntax (<ipython-input-92-11f181fe2ff1>, line 2)

In [93]:
#if we went to cheak the saving_balance as a predicat default (how many commitment or many money that he save in his account)
def table (CR,savings_balance)
round(table(CR,savings_balance))

#the output must tell me about the numbers of the saving_balance under it type 
# the type that i have is 5 type which is (  < 100 DM , > 1000 DM  ,101 - 500 DM ,501 - 1000 DM, unknown )the output is the number of each one of them

SyntaxError: invalid syntax (<ipython-input-93-bcec95a1a822>, line 2)

In [76]:
# here i went to find the histograme of the balance and 
#i went to marige the checking balances with the default by a counter that tell me the realtion btw the ((yes ,no) 
# and the type of CB to determine the number of each one by histogram)
# checking balances (means like the salary or how many that he have in his account)
pyplot(data=CR,
aes(x=checking_balance))+ 
geom_bar() +
ggtitle("Histogram of checking balances")+
facet_wrap(~default)

SyntaxError: invalid syntax (<ipython-input-76-60957e740551>, line 5)

In [ ]:

# here i went to find the histograme of the Saving_balance and 
#i went to marige the saving_balances with the default by a counter that tell me the realtion btw the ((yes ,no) 
# and the type of CB to determine the number of each one by histogram)

pyplot(data=CR,
aes(x=savings_balance)) +
geom_bar() +
ggtitle("Histogram of savings balances ") +
facet_wrap(~default)

In [97]:
 
def summary()
summary (CR ,amount )

SyntaxError: invalid syntax (<ipython-input-97-79bd2194bc1e>, line 2)

In [78]:
#here i went to find the histogram of loan amounts that he can take from the banks by marige it with the default 
# if u look to the data ( it containe the min ,max and mid ) 
pyplot(data=CR,
aes(x=amount)) +
geom_histogram() +
scale_x_log10() +  # to have a good scale for the GRAPH 
ggtitle("Histogram of loan amounts ") +
facet_wrap(~default)

SyntaxError: invalid syntax (<ipython-input-78-8240fdc1928e>, line 3)